<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Albums</title>
</head>

<body>
    <!-- <h1>Albums:</h1> -->

    <section class="wrapper">

        <section class="wrapper_grid">

            <% data.forEach(elm=> { %>

                <div class="card">

                    <a href=<%=`/album/${elm.id}`%>>

                        <h3>
                            <%= elm.name %>
                        </h3>
                        <img src=<%=elm.images[1].url %> alt="">


                    </a>


                </div>
                <% }) %>

        </section>
    </section>

</body>

</html>