<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Search results</title>
</head>

<body>

    <section class="wrapper">



        <section class="wrapper_grid">

            <% data.forEach(elm=> { %>

                <div class="card">

                    <h3>
                        <%= elm.name %>
                    </h3>


                    <% let arrayOfImages=[] %>
                        <% elm.images.forEach(elm=> { %>
                            <% arrayOfImages.push(elm.url) %>

                                <% }) %>
                                    <img src=<%=arrayOfImages[1] %> alt="">
                                    <a href=<%=`/albums/${elm.id}`%>>
                                        <h3>Show albums</h3>
                                    </a>

                </div>
                <% }) %>


        </section>
    </section>



</body>

</html>